.button {
	background-color: #ff0075;
	border-radius: 8px;
	border-style: none;
	color: #ffffff;
	width: 100px;
	cursor: pointer;
	display: inline-block;
	font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: 500;
	height: 40px;
	line-height: 20px;
	list-style: none;
	margin-right: 10px;
	outline: none;
	padding: 10px 16px;
	position: relative;
	text-align: center;
}

.button:hover {
	background-color: #ff0090;
}
